@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: Arial, sans-serif; */
    font-family: Nunito;
    background-image: url('../HTML/ASSETS/Background/Dinomult.com\ 4K.png');
    background-size: cover; /* Ajusta a imagem para cobrir o fundo inteiro */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    background-position: center; /* Centraliza a imagem a direita no corpo */;
}

/* HEADER - Container principal */
header {
    display: flex;
    justify-content: space-between; /* Alinha itens horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    padding: 10px 20px;
    /* background-color: #ffffff; */ /* kkk se colocar cor a imagem não expande até o topo*/
}

/* Logo */
.logo img {
    width: 120px; /* Redimensiona o logo */
    height: auto;
}

/* MENU - Navbar */
.menu-index ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu-index li {
    margin-left: 20px; /* Espaço entre itens */
    cursor: pointer;  /* Aparecer o cursor ao se aproximar */
}

.menu-index a {
    text-decoration: none;
    color: #000; /* Cor preta */
    font-weight: bold;
    font-size: 16px;
}

.menu-index img {
    width: 40px; /* Redimensiona o ícone "?" */
    height: 40px;
}

/* estilo do botao de login */
.menu-index .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #000000;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.menu-index .btnLogin-popup:hover {
    background: #e66939;
    color: #ffffff;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.form-box h2{
    font-size: 2em;
    color: #000;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left:  5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;

}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}


.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;

}

.remember-forgot {
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #162938;
    margin-right: 3px;
    
}

.remember-forgot a {
    color: #162938;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #e66939;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;

}

.login-register {
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}

/* MAIN - Texto e Botão */
main.texto-index {
    text-align: left;
    padding: 50px 5%;
    max-width: 600px; /* Largura máxima */
    margin: 50px 0; /* remove centralizacao*/
    position: relative;
    z-index: 1;
}

main.texto-index h1 {
    font-size: 48px;
    color: #000;
    margin-bottom: 10px;
}

main.texto-index h3 {
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
}

main.texto-index p {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

main.texto-index a {
    display: inline-block;
    text-decoration: none;
    background-color: #ff7f4d; /* Laranja */
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    z-index: 2;
}

main.texto-index a:hover {
    background-color: #e66939; /* Laranja mais escuro ao passar o mouse */
}
